body {
	--h1-font: Helvetica, Inter, sans-serif;
	--h2-font: Helvetica, Inter, sans-serif;
	--h3-font: Helvetica, Inter, sans-serif;
	--h4-font: Helvetica, Inter, sans-serif;
	--h5-font: Helvetica, Inter, sans-serif;
	--h6-font: Helvetica, Inter, sans-serif;
}
